:root {
    --font-archivo: "Archivo", sans-serif;
    --font-bricolage: "Bricolage Grotesque", sans-serif;
    --font-dm-sans: "DM Sans", sans-serif;
    --font-jetbrains: "JetBrains Mono", monospace;
    --font-lexend: "Lexend", sans-serif;
    --font-manrope: "Manrope", sans-serif;
    --font-outfit: "Outfit", sans-serif;
    --font-space: "Space Grotesk", sans-serif;
    --font-tilt: "Tilt Warp", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-space);
}

body,
html {
    height: 100vh;
}

main,
section {
    width: 450px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
    min-height: 100vh;
}

.messages {
    display: flex;
    flex-direction: column;
}

.messages>div {
    margin: 15px 0;
}

.message {
    background-color: #e9e9e9;
    border-radius: 12px;
    padding: 10px;
    width: fit-content;
    max-width: 450px;
    overflow-wrap: break-word;
}

.divide {
    display: block;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    position: relative;
    top: 5px;
    right: 5px;
}

input {
    width: 320px !important;
}

button {
    width: 250px;
    margin: 10px;
}

summary {
    text-align: center;
}


@media screen and (min-width: 576px) {

    main,
    section {
        width: 80vw;
    }

    input {
        width: 65vw !important;
    }
}

@media screen and (min-width: 768px) {

    main,
    section {
        width: 70vw;
    }
}

@media screen and (min-width: 992px) {

    main,
    section {
        width: 800px;
    }

    input {
        width: 750px !important;
    }
}
