:root {
    --font-archivo: "Archivo", sans-serif;
    --font-bricolage: "Bricolage Grotesque", sans-serif;
    --font-dm-sans: "DM Sans", sans-serif;
    --font-jetbrains: "JetBrains Mono", monospace;
    --font-lexend: "Lexend", sans-serif;
    --font-manrope: "Manrope", sans-serif;
    --font-outfit: "Outfit", sans-serif;
    --font-space: "Space Grotesk", sans-serif;
    --font-tilt: "Tilt Warp", sans-serif;

    --player-x: oklch(68.5% 0.169 237.323);
    --player-o: oklch(58.6% 0.253 17.585);
    --primary-color: oklch(87.2% 0.01 258.338);
    --secondary-color: oklch(70.7% 0.022 261.325);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-space);
}

body,
html {
    height: 100vh;
}

body {
    background-color: var(--primary-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.jogo {
    display: flex;
    width: calc(90px * 3);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.opcao {
    width: 75px;
    height: 75px;
    background-color: var(--secondary-color);
    margin: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x {
    background-color: var(--player-x);
}

.o {
    background-color: var(--player-o);
}


@media screen and (min-width: 576px) {
    .jogo {
        width: calc(20vw * 3);
    }

    .opcao {
        width: 15vw;
        height: 15vw;
    }
}

@media screen and (min-width: 768px) {
    .jogo {
        width: calc(135px * 3);
    }

    .opcao {
        width: 125px;
        height: 125px;
    }
}
